include ~components/container/container.pug
include ~components/formField/formField.pug
include ~components/textInput/textInput.pug
include ~components/select/select.pug

section.search-section
  .search-section__inner
    +container
      +formField
        +textInput('search')(id='searchInput', placeholder='Search')
      +formField(class='search-controls')
        .search-amount
        .search-sort
          .search-sort__item
            +select('', label='Sort: ',
              {value: 'match', title: 'Best match'},
              {value: 'stars-desc', title: 'Most stars'},
              {value: 'stars-asc', title: 'Fewest stars'},
              {value: 'forks-desc', title: 'Most forks'},
              {value: 'forks-asc', title: 'Fewest forks'},
              {value: 'updated-desc', title: 'Recently updated'},
              {value: 'updated-asc', title: 'Least recently updated'},
              )(id='sortSelect')
          .search-sort__item
            +select('', label='Languages: ',
              {value: 'all', title: 'All languages'},
              {value: 'Java', title: 'Java'},
              {value: 'C', title: 'C'},
              {value: 'C++', title: 'C++'},
              {value: 'C#', title: 'C#'},
              {value: 'JavaScript', title: 'JavaScript'},
              {value: 'PHP', title: 'PHP'},
              )(id='languagesSelect')