// social color
$color-vk: #4a76a7;
$color-fb: #3b5998;
$color-ok: #f2720c;
$color-gp: #db4437;
$color-tw: #55acee;
$color-mr: #168de2;
$color-yt: #e62117;
$color-tg: #2ca4e0;
$color-gram: #832ac4;

// projects color
$base-blue: #1877f2;
$base-cherry: #f3425f;
$base-grape: #8c72cb;
$base-lemon: #fcd872;
$base-lime: #a3ce71;
$base-pink: #ec7ebd;
$base-seafoam: #54c7ec;
$base-teal: #6bcebb;
$base-tomato: #fb724b;
$blue-link: #4599ff;

$primary-background: #18191a;
$secondary-background: #242526;
$primary-icon: #e4e6eb;
$primary-text: #e4e6eb;
$secondary-icon: #b0b3b8;
$secondary-text: #b0b3b8;
$placeholder-icon: #8a8d91;
$placeholder-text: #8a8d91;

$black-alpha-05: rgba(0, 0, 0, 0.05);
$black-alpha-10: rgba(0, 0, 0, 0.1);
$black-alpha-15: rgba(0, 0, 0, 0.15);
$black-alpha-20: rgba(0, 0, 0, 0.2);
$black-alpha-30: rgba(0, 0, 0, 0.3);
$black-alpha-40: rgba(0, 0, 0, 0.4);
$black-alpha-50: rgba(0, 0, 0, 0.5);
$black-alpha-60: rgba(0, 0, 0, 0.6);
$black-alpha-80: rgba(0, 0, 0, 0.8);

$white-alpha-05: rgba(255, 255, 255, 0.05);
$white-alpha-10: rgba(255, 255, 255, 0.1);
$white-alpha-15: rgba(255, 255, 255, 0.15);
$white-alpha-20: rgba(255, 255, 255, 0.2);
$white-alpha-30: rgba(255, 255, 255, 0.3);
$white-alpha-40: rgba(255, 255, 255, 0.4);
$white-alpha-50: rgba(255, 255, 255, 0.5);
$white-alpha-60: rgba(255, 255, 255, 0.6);
$white-alpha-80: rgba(255, 255, 255, 0.8);

$box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
  inset 0 0 0 1px rgba(255, 255, 255, 0.05);

// layouts
$layout-width-base: 1360px;
$layout-width-touch: 360px;
$layout-width-tablet: 768px;
$layout-width-desktop-small: 1024px;
$layout-width-desktop: 1366px;
$layout-width-desktop-large: 1600px;
$layout-width: 1360px;
$layout-padding: 0 rem-calc(36px);
$layout-padding-small: 0 rem-calc(12px);

// typography
$font-size-base: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-base: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-accent: 'Georgia', 'Times New Roman', Times, serif;

// CSS cubic-bezier timing functions.
$main-easing: cubic-bezier(0.215, 0.61, 0.355, 1);
$main-transition: 260ms $main-easing;

// ease in
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
// ease out
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
// ease in out
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
