include ~components/container/container.pug

section.result-section
  +container
    .result-list
      include ~components/repoItem/repoItem.pug
      include ~components/repoItem/repoItem.pug
      include ~components/repoItem/repoItem.pug
      include ~components/repoItem/repoItem.pug